$bp-xs: 481px;   // мобильные телефоны
$bp-sm: 641px;   // большие телефоны / маленькие планшеты
$bp-md: 769px;   // планшеты
$bp-lg: 1040px;  // десктоп
$bp-xl: 1281px;  // большие экраны
$bp-xxl: 1537px; // широкие мониторы