.text {
  font-family: var(--font-main);
  color: var(--color-text);
}

/* Weights */
.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

/* Align */
.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

/* Colors */
.primary {
  color: var(--color-primary);
}

.muted {
  color: var(--color-muted);
}
