@use "app/styles/_breakpoints.scss" as *;

.root {
  cursor: pointer;

  &.primary {
    .rootSquircle {
      background-color: var(--color-primary);
    }

    .inner {
      color: var(--color-white);
      background-color: var(--color-primary);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        .inner {
          color: var(--color-text);
          background-color: var(--color-D7D7D7);
        }
      }
    }
  }

  &.secondary {
    .rootSquircle {
      background-color: var(--color-primary);
    }

    .inner {
      color: var(--color-text);
      background-color: var(--color-bg);
    }


    @media (hover: hover) and (pointer: fine) {
      &:hover {
        .rootSquircle {
          background-color: var(--color-white);
        }

        .inner {
          color: var(--color-text);
          background-color: var(--color-D7D7D7);
        }
      }
    }

  }

  &.textUppercase {
    text-transform: uppercase;
  }

  &.textInitial {
    text-transform: initial;
  }

  &.large {
    height: 68px;
  }

  &.medium {
    height: 60px;
  }

  &.standard {
    height: 54px;
  }

  &.small {
    height: 50px;
  }

  // fonts
  &.inter {
    font-family: var(--font-inter);
  }

  &.poppins {
    font-family: var(--font-poppins);
  }

  &.publicSans {
    font-family: var(--font-public-sans);
  }
}

.rootSquircle {
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.inner {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  white-space: nowrap;
}

@media (max-width: $bp-lg) {
  .root {
    &.large {
      height: 51px;
    }

    &.medium {
      height: 42px;
    }

    &.standard {
      height: 40px;
    }

    &.small {
      height: 38px;
    }
  }
}

@media (max-width: $bp-xs) {
  .root {
    &.large {
      height: 34px;
    }
  }
}