@use "app/styles/_breakpoints.scss" as *;

.root {
  display: flex;
  align-items: center;
  column-gap: 40px;
  width: max-content;

  &.size24 {
    a {
      width: 24px!important;
      height: 24px!important;
    }
  }

  a {
    display: block;
    width: 24px;
    height: 24px;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        svg {
          fill: var(--color-white);
        }
      }
    }
  }
}

.icon {
  width: 100%;
  height: 100%;
  fill: var(--color-535353);
  transition: fill 0.3s ease-in-out;
}

@media (max-width: $bp-lg) {
  .root {
    column-gap: 28px;

    a {
      width: 17px;
      height: 17px;
    }
  }
}