.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-bg);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footerWrapper {
  width: 100%;
  flex-shrink: 0; /* не сжимается */
}
