.root {
  padding: 70px 0;
  background-color: var(--color-F1F1F1);
}

.title {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 46px;
  line-height: 48px;
  text-align: center;
  color: var(--color-C5C5C5);
  margin-bottom: 70px;
}

.slide {
  width: 281px!important;
}