.root {
  padding: 31px 31px 31px 66px;
  background-color: var(--color-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.title {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 45px;
  line-height: 48px;
  letter-spacing: 1px;
  color: var(--color-white);
  margin-bottom: 20px;
}

.text {
  color: var(--color-D4D4D4);
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  opacity: 0.6;
}

.buttons {
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-top: 57px;

  button {
    font-weight: 600;
    font-size: 21px;
    line-height: 130%;
    letter-spacing: 1px;
  }
}

.image {
  width: 369px;
  height: 249px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}