@use "app/styles/_breakpoints.scss" as *;

.logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-family: var(--font-poppins);
  color: var(--color-white);

  &.dark {
    color: var(--color-text);
    .logoSvg {
      fill: var(--color-text);
    }
  }

  &.light {
    color: var(--color-white);
    .logoSvg {
      fill: var(--color-white);
    }
  }

  &.small {
    font-size: 30px;
    line-height: 130%;
    font-weight: 600;

    .logoSvg {
      width: 53px;
      height: 53px
    }
  }

  &.medium {
    font-size: 30px;
    line-height: 130%;
    font-weight: 600;

    .logoSvg {
      width: 65px;
      height: 65px;
    }
  }
}

.logoSvg {
  width: 65px;
  height: 65px;
}

@media (max-width: $bp-lg) {
  .logo {
    &.small {
      .logoSvg {
        width: 38px;
        height: 38px
      }
    }

    &.medium {
      font-size: 21px;

      .logoSvg {
        width: 46px;
        height: 46px;
      }
    }
  }
}

@media (max-width: $bp-lg) {
  .logo {
    &.small {
      font-size: 22px;
      line-height: 24px;

      .logoSvg {
        width: 46px;
        height: 46px
      }
    }

    &.medium {
      font-size: 22px;
      line-height: 24px;
    }
  }
}