.root {
  width: 281px;
  height: 395px;
  background-color: var(--color-white);
  padding: 14px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.imageWrapper {
  position: relative;
  width: 253px;
  height: 253px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.timer {
  position: absolute;
  top: 14px;
  right: 11px;
}

.title {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eth {
  fill: var( --color-text);
}

.bidTitle {
  color: var(--color-94A3B8);
  margin-bottom: 3px;
}

.bid {
  display: flex;
  align-items: center;
  column-gap: 4px;
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 16.47px;
}

.button {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 14.2px;
  letter-spacing: 0.12px;
}

.timer {
  border-radius: 10px;
  background-color: var(--color-1C1D2059);
  border: 1px solid var(--color-1C1D2014);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: var(--color-white);
}