@use "app/styles/_breakpoints.scss" as *;

.shadowRoot {
  border-radius: 24px;
  box-shadow: 0 12px 60px var(--color-C7C7C799);
}

.root {
  width: 281px;
  height: 395px;
  background-color: var(--color-white);
  padding: 14px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.imageWrapper {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  height: 253px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.timer {
  position: absolute;
  top: 14px;
  right: 11px;
}

.title {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eth {
  fill: var( --color-text);
}

.bidTitle {
  color: var(--color-94A3B8);
  margin-bottom: 3px;
}

.bid {
  display: flex;
  align-items: center;
  column-gap: 4px;
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 16.47px;
}

.button {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 14.2px;
  letter-spacing: 0.12px;
  width: 120px;
}

@media (max-width: $bp-lg) {
  .shadowRoot {
    box-shadow: 0 9px 45px var(--color-C7C7C799);
  }

  .root {
    width: 210px;
    height: 294px;
    padding: 10px;
    row-gap: 14px;
  }

  .imageWrapper {
    width: 100%;
    height: 190px;
  }

  .footer {
    height: 38px;
  }

  .title {
    font-size: 16px;
    line-height: 18px;
  }

  .bid {
    font-size: 12px;
    line-height: 14px;
  }

  .eth {
    width: 16px;
    height: 16px;
  }

  .bidTitle {
    font-size: 11px;
  }

  .button {
    font-size: 10px;
    width: 90px;
  }
}