@use "app/styles/_breakpoints.scss" as *;

.root {
  padding: 88px 0 86px;
  background-color: var(--color-text);
}

.top {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;

  justify-content: space-between;
  column-gap: 20px;
  row-gap: 20px;
  padding-bottom: 25px;

  &::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-radius: 2px;
    background-color: #818181;
    opacity: 0.25;
  }
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 70px;
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #B9B9B9;
  letter-spacing: 0.5px;
}

.rights {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #999999;

  span {
    display: none;
  }
}

.social {
  padding-top: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialMobile {
  display: none;
}

.socialDesktop {
  display: flex;
}

@media (max-width: $bp-lg) {
  .root {
    padding: 60px 0;
  }

  .logo {
    font-size: 21px;
    line-height: 130%;
  }

  .logoSvg {
    width: 46px;
    height: 46px;
  }

  .navigation {
    column-gap: 50px;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.5px;
  }

  .social {
    padding-top: 40px;
  }

  .rights {
    font-size: 12px;
    line-height: 17px;
  }
}

@media (max-width: $bp-md) {
  .socialMobile {
    display: flex;
    column-gap: 10px;
  }
  .socialDesktop {
    display: none;
  }
  .navigation {
    flex-direction: column;
    align-items: start;
    row-gap: 30px;
    text-transform: uppercase;
  }
  .social {
    justify-content: center;
  }
  .rights {
    span {
      display: inline;
    }
  }
}
