.root {
  position: sticky;
  left: 0;
  top: 0;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
  padding: 33px 0;
}

.left {
  display: flex;
  align-items: center;
  column-gap: 66px;
}

.logo {
  width: 53px;
  height: 53px;
  fill: var(--color-text);
}

.navigation {
  display: flex;
  column-gap: 50px;

  a {
    color: var(--color-gray);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }
}

.button {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}