@use "app/styles/_breakpoints.scss" as *;

.root {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: var(--color-bg);
  border-radius: 0 0 20px 20px;
  transition: background-color 0.3s ease-in-out;

  &.scrolled {
    background-color: var(--color-white);
    .inner {
      padding: 17px 0;
    }
  }

  &.open {
    border-radius: 0;
    background-color: var(--color-white);

    .mobileMenu {
      transform: translateY(0);
      pointer-events: initial;
    }
  }
}

.inner {
  position: relative;
  z-index: 10;
  transition: padding 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
  padding: 33px 0;
}

.left {
  display: flex;
  align-items: center;
  column-gap: 66px;
}

.logoWrapper {
  flex-shrink: 0;
}

.logo {
  flex-shrink: 0;
  width: 53px;
  height: 53px;
  fill: var(--color-text);
}

.navigation {
  display: flex;
  column-gap: 50px;

  a {
    color: var(--color-gray);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }
}

.connectButton {
  width: 200px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

.closeMenuButton,
.menuButton {
  width: 40px;
  height: 40px;
  display: none;

  svg {
    width: 100%;
    height: 100%;
  }
}

.mobileMenu {
  position: fixed;
  z-index: 9;
  left: 0;
  top: 106px;
  width: 100%;
  height: calc(100dvh - 106px);
  background-color: var(--color-white);
  transition: transform 0.3s ease-in-out;
  transform: translateY(calc(-100% - 106px));
  pointer-events: none;

  &__container {
    height: 100%;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 44px 0 40px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 44px;

    a {
      font-family: var(--font-inter);
      font-size: 40px;
      line-height: 42px;
      font-weight: 500;
      text-transform: uppercase;
      color: #606060;
    }
  }
}

@media (max-width: $bp-lg) {
  .logo {
    width: 38px;
    height: 38px;
  }

  .left {
    column-gap: 40px;
  }

  .navigation {
    display: flex;
    column-gap: 32px;

    a {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .button {
    width: 140px;
    font-size: 11.5px;
    line-height: 17px;
  }
}

@media (max-width: $bp-md) {
  .navigation,
  .button {
    display: none;
  }
  .closeMenuButton,
  .menuButton {
    display: block;
  }

  .inner {
    padding: 30px 0;
    border-bottom: 1px solid #CBCBCB;
    transition: border-bottom-color 0.3s ease-in-out;
  }

  .root {
    &.scrolled {
      .inner {
        padding: 30px 0;
        border-color: transparent;
      }
    }

    &.open {
      .inner {
        border-color: #CBCBCB;
      }
    }
  }

  .connectButton {
    width: 100%;
    font-size: 20px;
    line-height: 22px;

    &.desktop {
      display: none;
    }

    &.mobile {
      height: 60px!important;
    }
  }

}