.root {
  position: absolute;
  z-index: 1;
  left: calc(567px + 49px);
  width: 780px;
  height: 543px;
}

.imageWrapper {
  img {
    width: 100%;
    height: 100%;
  }
}

.dots {
  position: absolute;
  top: 5px;
  right: 52px;
  z-index: 0;
}

.arrow {
  position: absolute;
  top: 47px;
  left: 414px;
  z-index: 0;
}

.decor1 {
  position: absolute;
  z-index: 1;
  top: -52px;
  left: -85px;
  width: 560px;
  height: 560px;
}

.decor2 {
  position: absolute;
  z-index: 1;
  right: -32px;
  bottom: -52px;
  width: 450px;
  height: 450px;
}