@use "app/styles/_breakpoints.scss" as *;

.root {
  position: absolute;
  z-index: 1;
  left: calc(567px + 49px);
  width: 62.5%;
  height: 543px;
}

.dots {
  position: absolute;
  top: 5px;
  right: 52px;
  z-index: 0;
}

.arrow {
  position: absolute;
  top: 47px;
  left: 53%;
  z-index: 0;
}

.decor1 {
  position: absolute;
  z-index: 1;
  top: -52px;
  left: -85px;
  width: 72%;
  height: 10wv;
  max-height: 560px;
}

.decor2 {
  position: absolute;
  z-index: 1;
  right: -4%;
  bottom: -52px;
  width: 57.5%;
  height: 31vw;
  max-height: 450px;
}

@media (max-width: $bp-lg) {
  .root {
    left: 465px;
    width: 62.5%;
    height: 390px;
  }

  .decor1 {
    top: -37px;
  }

  .decor2 {
    right: 1%;
    bottom: -35px;
  }

  .arrow {
    width: 91px;
    top: 17px;
    left: 48%;
  }

  .dots {
    width: 123px;
    height: 137px;
    top: -8px;
    right: 45px;
  }
}

@media (max-width: $bp-md) {
  .root {
    position: relative;
    width: 100%;
    left: 0;
  }
  .decor1 {
    left: 0;
  }

  .decor2 {
    right: -5%;
    bottom: -100px;
    height: auto;
  }

  .arrow {
    top: 12%;
    left: 65%;
  }

  .dots {
    right: -100px;
  }
}

@media (max-width: $bp-xs) {
  .decor1 {
    width: 95%;
    left: -44px;
    top: -17px;
  }

  .decor2 {
    width: 75%;
    right: -36%;
    bottom: 62px;
  }

  .arrow {
    top: 2%;
    left: 69%;
    width: 63px;
  }

  .dots {
    top: 3px;
    right: -88px;
  }
}