@use "app/styles/_breakpoints.scss" as *;

.root {
  padding-top: 82px;
  padding-bottom: 170px;
  overflow: hidden;
}

.inner {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.info {
  max-width: 567px;
}

.statisticsMobile {
  display: none;
  align-items: center;
  column-gap: 8px;
  justify-content: center;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--color-muted);
  margin-bottom: 8px;

  &__line {
    width: 33px;
    height: 1px;
    background: var(--color-muted);
  }
}

.title {
  padding-top: 10px;
  position: relative;
  font-family: var(--font-poppins);
  white-space: pre-wrap;
  margin-bottom: 28px;

  h1 {
    font-weight: 600;
    font-size: 76px;
    line-height: 84px;
    letter-spacing: -3px;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 195px;
    height: 1px;
    background-color: var(--color-201F1F);
    opacity: 0.2;
  }
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-muted)
}

.bold {
  font-weight: 600;
  color: var(--color-text);
}

.buttons {
  margin-top: 44px;
  margin-bottom: 81px;
  display: flex;
  align-items: center;
  column-gap: 22px;
}

.button {
  font-weight: 500;
  font-family: var(--font-poppins);
  font-size: 16px;
  letter-spacing: 1px;
  width: 180px;

  &.small {
    width: 140px;
  }
}

.statistics {
  display: flex;
  align-items: center;
  column-gap: 60px;
}

@media (max-width: $bp-lg) {
  .root {
    padding-top: 45px;
    padding-bottom: 114px;
  }

  .title {
    margin-bottom: 15px;
    h1 {
      font-size: 54px;
      line-height: 62px;
      letter-spacing: -2px;
    }

    &:before {
      width: 138px;
    }
  }

  .text {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
  }

  .buttons {
    margin-top: 36px;
    margin-bottom: 58px;
    column-gap: 16px;
  }

  .button {
    font-weight: 500;
    font-size: 12px;
    width: 130px;

    &.small {
      width: 100px;
    }
  }

  .statistics {
    column-gap: 40px;
  }
}

@media (max-width: $bp-md) {
  .root {
    padding-top: 72px;
    padding-bottom: 120px;
  }

  .inner {
    display: flex;
    flex-direction: column;
    row-gap: 105px;
  }

  .info {
    max-width: none;
  }

  .title {
    text-align: center;
    &:before {
      display: none;
    }
  }

  .text {
    text-align: center;
  }

  .buttons {
    justify-content: center;
    margin-bottom: 0;
  }

  .statistics {
    display: none;
  }

  .statisticsMobile {
    display: flex;
  }
}


@media (max-width: $bp-xs) {
  .root {
    padding-bottom: 24px;
  }

  .imageMobile {
    bottom: -40%;
  }

  .title {
    margin-bottom: 16px;
    h1 {
      font-size: 48px;
      line-height: 54px;
    }
  }

  .text {
    font-size: 11px;
    line-height: 18px;
  }
}