@use "app/styles/_breakpoints.scss" as *;

.root {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.title {
  font-family: var(--font-public-sans);
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
}

.subtitle {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-muted3);
}

@media (max-width: $bp-lg) {
  .root {
    row-gap: 8px;
  }

  .title {
    font-size: 26px;
    line-height: 30px;
  }

  .subtitle {
    font-size: 9px;
    line-height: 13px;
  }
}